<html>
  <body>
    {{error}}
    <form action="/create", method="post">
        Title(40 characters or less): <input type="text" name="title"> </br></br>
        
        Genre: </br>
        <input type="radio" id="nonfic" name="tag" value="Nonfic">
        <label for="nonfic">Non-fiction</label></br>
        <input type="radio" id="horror" name="tag" value="Horror">
        <label for="horror">Horror</label></br>
        <input type="radio" id="romance" name="tag" value="Romance">
        <label for="romance">Romance</label></br>
        <input type="radio" id="fantasy" name="tag" value="Fantasy">
        <label for="fantasy">Fantasy</label></br>
        <input type="radio" id="educational" name="tag" value="Educational">
        <label for="educational">Educational</label></br>
        
        Write your story:</br><textarea id="firststory" name="firststory" rows="35" cols="140"></textarea></br>
        <input type="submit" Value="Submit">
    </form>

    <form action="/home", method="post">
      <a href="/home">back</a>
    </form>
  </body>
</html>