<html>
<style>
h1 {
        text-decoration: underline;
        font-style: italic;
}

.bottomleft {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 32px;
}
</style>

  <body>
   <img style="border:5px double black; align="right" src="https://i.pinimg.com/originals/3c/d4/52/3cd4528e0c7775ccdf0229c1a3ca5f15.jpg" width ="400" height ="350" />
    <h1>
      Welcome to the Fantasy section!
    </h1>
    <p style="font-family:verdana">
    Here you will see every single fantasy story posted from all users! We hope you enjoy!
    </p>
    <form action="/fantasy", method="post">
        {%for i in range(0, len)%}
         <p>---------------------------------------------------------</p>
        <h2>{{h[i]}} by {{a[i]}}</h2>
        <form action="/edit", method="post">
          <h2><a href="/story?storyname={{h[i]}}">{{h[i]}}</a></h2>
        </form>
        <p>
          Story: {{s[i]}}
        </p>
        {%endfor%}
    </form>
    <p>---------------------------------------------------------</p>
    <form action="/home", method="post">
      <div class="bottomleft"><a href="/home">Go back to home</a></div>
    </form>
  </body>

</html>
