<html>
<style>
h1{
font-style: italic;
text-decoration: underline;
}
h2{
font-style: italic;
text-decoration: underline;
}
p1{
font-style: italic;
}
</style>
    <body>
        <h1>SJS: Shinji, Jeffery, Sebastian</h1>
        <p1>
            Hello {{username}}! Welcome to Storytellers! Here you will be able to not only read stories made by your peers, but actually have the capability to let your brain seep out and run wild with our collabortive story website. You're free to write anything you want and you have the option to select different genres as shown below. You also have the ability to create and change stories as shown under the Genre section.<br>
        </p1>
        <br>

        <p2>
        <form action="/logout", method="post">
            <a href="/logout">logout</a>
        </form>
        </p2>

        <h2>
            Genres:<br>
        </h2>
        <p>
            <li><a href="/nonfic">Non-fiction</a></li>
            <li><a href="/horror">Horror</a></li>
            <li><a href="/romance">Romance</a></li>
            <li><a href="/fantasy">Fantasy</a></li>
            <li><a href="/educational">Educational</a></li>
        </p>

        <h3>
            <a href="/create">Create A New Story</a>
        </h3>

        <h2>
            All Stories:<br>
        </h2>
        <p>
            <form action="/home", method="post">
                {%for i in range(0, len)%}
                <li><a href="/story?storyname={{h[i]}}">{{h[i]}}</a> by {{a[i]}}</li><br>
                {%endfor%}
            </form>
        </p>
    </body>
</html>