<html>
    <body>
        <h1>SJS: Shinji, Jeffery, Sebastian</h1>
        <p>
            Hello {{username}}! Welcome to Storytellers! <br>
        </p>

        <form action="/logout", method="post">
            <a href="/logout">logout</a>
        </form>

        <h2>
            Genres:<br>
        </h2>
        <p>
            <a href="/nonfic">Non-fiction</a>
            <a href="/horror">Horror</a>
            <a href="/romance">Romance</a>
            <a href="/fantasy">Fantasy</a>
            <a href="/educational">Educational</a>
        </p>

        <h3>
            <a href="/new">Create A New Story</a>
        </h3>

        <h2>
            Featured Stories:<br>
        </h2>
    </body>
</html>