<!DOCTYPE html>
<!-- 

 -->


<html>

  <head>
    <title> REGISTER PAGE </title>
  </head>

  <body>
    <h1>
      REGISTER
    </h1>


    <h3>
      Enter your desired username and password below to create a Storytellers account.
    </h3>
    <h4>
      {{error}}
    </h4>
    <form action="/register", method="post">
      Username: <input type="text" name="username"> </br>
      Password: <input type="text" name="password"> </br>
      <input type="submit" name="sub1">
    </form>
    <br>
    <form action="/login", method="post">
      <a href="/login">back</a>
    </form>
  </body>

</html>


