<html>
<style>
h1 {
        text-decoration: underline;
        font-style: italic;
}
</style>
  <body>
  <img align="right" src="https://th.bing.com/th/id/R.be382f1f6ca5750f0ec3152b61bf8fdf?rik=4bfQw7doXIoN1g&riu=http%3a%2f%2fcliparts.co%2fcliparts%2f8Tx%2fn5k%2f8Txn5kbXc.png&ehk=anbC1HUgZLMrzqyowPWgiP8TmUl%2f6Ho%2bHn2rxXv32RE%3d&risl=&pid=ImgRaw&r=0" width ="400" height ="350" />
    <h1>
      Welcome to the Romance section! 
    </h1>
    <p>
    Here you will see every single romance story posted from all users! We hope you enjoy!
    </p>
    
    <form action="/romance", method="post">
        {%for i in range(0, len)%}
  
        <h2>{{h[i]}} by {{a[i]}}</h2>
        <form action="/edit", method="post">
          <a href="/edit">Edit this story</a>
        </form>
        <p>
          {{s[i]}}
        </p>
        {%endfor%}
    </form>
    <form action="/home", method="post">
      <a href="/home">Go back to home</a>
    </form>

  </body>

</html>
